.page404-container {
  width: 100%;
	margin: 40vh auto 0px auto;
	text-align: center;
  position: relative;
}

.title-404 {
	font-size: 13vh;
	color: black;
	font-family: 'Courier New', Courier, monospace;
}

.subtitle-404 {
	font-size: 3vh;
	color: black;
	font-family: 'Courier New', Courier, monospace;
}

.subsubtitle-404 {
	font-size: 2vh;
	font-family: 'Courier New', Courier, monospace;
}